@import '../../common.scss';
@import '~bootstrap/scss/_buttons.scss';

.game-screen {
  max-width: 320px;
  position: relative;
  text-align: center;
  margin: 20px auto;

  .game-card-holder {
    display: inline-block;

    .game-card-content {
      position: relative;
      margin: 10px;
      width: 72px;
      height: 100px;
      overflow: hidden;

      .game-card-back {
        position: relative;
        width: 72px;
        height: 100px;
        border: 0;
        transform: rotateY(0deg);
        transition: transform 0.5s 0.5s;
      }

      &.game-card-opened .game-card-back {
        transform: rotateY(90deg);
        transition: transform 0.5s 0s;
      }

      .game-card-front {
        position: absolute;
        z-index: 5;
        top: -117px;
        left: -82px;
        height: 334%;
        border: 0;
        transform: rotateY(90deg);
        transition: transform 0.5s 0s;
      }

      &.game-card-opened .game-card-front {
        transform: rotateY(0deg);
        transition: transform 0.5s 0.5s;
      }
    }
  }

  .game-score {
    width: 150px;
    text-align: center;
    margin: 0 auto;
  }

  .game-button-holder {
    position: relative;
    margin: 20px 0;

    .game-session-score {
      position: absolute;
      z-index: 5;
      text-align: left;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);

      span {
        display: block;
      }
    }

    .game-winner {
      position: absolute;
      z-index: 5;
      text-align: right;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }

  .game-hide {
    opacity: 0;
    transition: opacity 0.5s 0s;
  }

  .game-show {
    opacity: 1;
    transition: opacity 0.5s 0s;
  }
}
