@import '../../common.scss';
@import '~bootstrap/scss/_buttons.scss';

.rules-screen {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 20px;

  .back-button {
    margin: 0;
  }
}
